* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(120deg, #e2c35d, #d88771);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}
header{
    font-size: 1.5rem;
}

header,form{
    margin: 10px;
    min-height: 20vh;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}


form input, form button{
    border: none;
    padding: 0.5rem;
    font-size: 2rem;
    background-color: white;
}
form button{
    color:#d88771 ;
    background-color: white;
    transition: all 0.3s ease;
    cursor: pointer;
}
form button:hover {
    color: white;
    background-color: #d88771;
}

.todo-container{
    display: grid;
    justify-content: center;
    align-items: center;
    
}
.todo-list{
    min-width: 30%;
    list-style: none;
    
}
.todo{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
    background-color: white;
    color: black;
    transition: all 0.3s ease;
    
}
.todo li{
    flex: 1;
    padding: 5px;
    align-self: center;
    
}
.complete-btn, .trash-btn{
    background-color: #ff6f47;
    padding: 1rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}
.complete-btn{
    background-color: rgb(72, 197, 72);

}

.fa-trash,.fa-check{
    pointer-events: none;
}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
}
.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}
@media screen and (max-width:560px){
    header{
        font-size: 1rem;
    }
    form{
        
       display: flex;
        width: 100vw;
        align-items: center;
        justify-content: center;
        
    }
    .todo-input{
        width: 200px;
        height: 40px;
        
    }
    .todo-button{
        height: 40px;
        display: flex;
        align-items: center;
    }
}
@media screen and (max-width:400px){
    header{
        font-size: 0.6rem;
    }
    form{
        
       display: flex;
        width: 100vw;
        align-items: center;
        justify-content: center;
        
    }
    .todo-input{
        width: 150px;
        height: 30px;
        
    }
    .todo-button{
        height: 30px;
    }
}
